<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <form action="/submit" method="post">
        <input type="text" name="pName" placeholder="Pokemon Name" />
        <input type="submit" value="OK" />
    </form>    

    <% if(content){ %>
        <%= content %>
    <% } %>

</body>
</html>